@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/js/CS/base/base.min.js" asp-append-version="true"></script>
<script src="~/js/CS/UpdateData/UpdateData.min.js" asp-append-version="true"></script>
<script src="~/js/PU/IdVerify/AuthSelection.min.js" asp-append-version="true"></script>